doctype html
html(lang='zxx')
  head
    title KSBA BANKING 
    // Meta tag Keywords
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='keywords', content='KSBA Banking Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      function hideURLbar(){ window.scrollTo(0,1); }
    // // Meta tag Keywords
    // css files
    link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
    // Bootstrap-Core-CSS
    link(href='css/style.css', rel='stylesheet', type='text/css', media='all')
    // Style-CSS
    link(rel='stylesheet', href='css/font-awesome.css')
    // Font-Awesome-Icons-CSS
    link(rel='stylesheet', href='css/flexslider.css', type='text/css', media='all')
    // Banner-Slider-CSS
    // //css files
    link(rel='stylesheet', type='text/css', href='css/demo.css')
    link(rel='stylesheet', type='text/css', href='css/form.css')
    // online-fonts
    link(href='//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&subset=latin-ext', rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext', rel='stylesheet')
    // //online-fonts
  script.
    function validate()
    {
    var pass = document.myform.psw.value;
    var pass1 = document.myform.psw1.value;
    var pp = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/;
    if(!pp.test(pass) || pass.length < 6)
    {
    alert("Please Enter a Valid Password ");
    return false;
    }
    if(!pp.test(pass1) || pass1.length < 6)
    {
    alert("Please Enter a Valid Password ");
    return false;
    }
    if(pass!=pass1)
    {
    alert("Please Enter a Valid Password ");
    return false;
    }
    }
  body
    // navigation
    .nav-links
      .header-w3l
        .container
          a.navbar-brand(href='/')
            h1
              span KSBA
              |  Banking
          .call-w3l
            img(src='images/rsz_call.png')
          .clearfix
      .codecon_half
        .expSearchBox
      .clearfix
    // //navigation
    // banner section
    .banner-slider(<div='')
      .container
        form.sign-up(action='/forgot_passwd_success', method='POST', name='myform', onsubmit='return validate()')
          h1.sign-up-title Reset Password
          input.sign-up-input(type='password', name='psw', placeholder='Enter New Password', autofocus='', required='')
          br
          input.sign-up-input(type='password', name='psw1', placeholder='Re-Enter Password ', autofocus='', required='')
          br
          input.sign-up-button(type='submit', value='SAVE')
        .callbacks_container
          ul#slider3.rslides
            li
      // //Slider
